.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 370px;
    left: 20px;
  }
  
  .baloon {
      position: absolute;
      left: 500px;
      top: 5px;
      z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 520px;
    top: 40px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    right: 300px;
  }