.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  width: 100%;
  text-align: center;
}

.pokemon-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid rgb(170, 170, 170);
  width: 350px;
  border-radius: 10px;
  margin: 20px;
}

.pokemon-texts {
  display: flex;
  flex-direction: column;
  text-align: center;
}