/* MINHA IMPLEMENTAÇÃO
.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  width: 100%;
  text-align: center;
}

.pokemon-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid rgb(170, 170, 170);
  width: 350px;
  border-radius: 10px;
  margin: 20px;
}

.pokemon-texts {
  display: flex;
  flex-direction: column;
  text-align: center;
} */


/* IMPLEMENTAÇÃO GUIADA PELO GABARITO */
.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 0;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}