* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  width: 100%;
  background: rgb(192, 192, 192);
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 15px;
}

.card {
  background: rgb(202, 202, 202);
  border-radius: 8px;
  gap: 12px;
  padding: 25px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  background: rgb(51, 51, 51);
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}