body {
  font-size: 25px;
  margin: 15px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    padding: 25px 0px;
}

@media screen and (min-width: 680px) {
  body {
    font-size: 36px;
    margin: 45px;
    background-color: aliceblue;
  }

  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 53px;
  }

  figure {
    float: left;
    width: 45%;
    margin-right: 4.5%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    text-align: center;
    font-size: 35px;
    margin: 50px;
    background-color: black;
    color: rgb(226, 224, 224);
  }

  h1 {
    font-size: 85px;
  }

  h2 {
    font-size: 55px;
  }

  figure {
    float: left;
    width: 45%;
    text-align: center;
  }

  figure img {
    width: 65%
  }
}