main, section {
    border-color: black;
    border-style: solid;
  }

  .title {
    text-align: center;
  }

  .main-content {
    background-color: yellow;
  }

  .main-content .center-content {
    background-color: red;
    width: 50%;
    margin: 0 auto;
  }

  .main-content .center-content p {
    font-style: italic;
  }