body {
  display: flex;
  justify-content: center;
}

.personal-fieldset {
  max-width: 40%;
  margin: 10px;
}

.professional-fieldset {
  max-width: 40%;
  margin: 10px;
}

.container {
  margin: 10px;
}

.form {
  display: flex;
  align-items: center;
  margin: 10px;
}
