h1 {
    text-align: center;
  }

  .list-style {
      display: inline;
      text-align: center;
  }

  .section-style {
      text-align: center;
      display: block;
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    display: inline-block;
    margin-right: 395px;
    margin-left: 355px;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

  .premiacao-style {
      text-align: center;
  }

  .valores-premiacao-style li {
      display: inline;
  }